@layer tailwind-base, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::selection {
  background: #b3b2ae;
  border-radius: 10px;
}

::-moz-selection {
  background: #b3b2ae;
}

img {
  user-select: none;
}
